/* Enter your custom styles here */
.customVBox {
    border-radius: 10px;          /* Rounded edges */
    padding: 20px;               /* Internal padding */
    margin: 20px;            /* Margin from the top */
    background-color: white;   /* Background color (example: light cyan) */
    border: 2px solid #a9a9a9 ;   /* Border with color (example: cyan dark) */
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.customPage {
    background-color: white;  /* Set the background color to white */
}

.customTitle {
    color: #333; /* Example color: a shade of orange/red */
    font-weight: bold; /* Make the text bold */
    border: #a9a9a9;
    text-shadow: blue;
}

.customText {
    color: #333; /* Example color */
    font-weight: bold; /* Make the text bold */
    font-size: 1em; /* Increase the font size as needed */
}

.customQuestionText {
    font-size: 1em; /* Adjust the font size for the question text */
}

.customOptionText {
    font-size: 1.1em; /* Adjust the font size as needed */
    color: blue;
}